{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% block css %}

<style media="screen">
    h5 {
        cursor: pointer;
    }

    aside {
        height: 30vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }
</style>
{% endblock css %} {% block content %}
<section class="container">
    <section class="row">
        <section class="col-md-12">
            <header>
                <h2 class="text-center">
                    {{users_portfolio.name}}
                </h2>
            </header>

            <aside class="col-md-1">
                {% for company in users_portfolio.companies.all %}
                <h5>{{company}}</h5> {% endfor %}
            </aside>

            <section class="col-md-10 col-md-push-1">
                <br>
                <div id="curve_chart" style="width: 900px; height: 500px"></div>
            </section>
        </section>
    </section>
</section>
{% endblock %} {% block js %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Year', 'Sales', 'Expenses'],
      ['2004',  1000,      400],
      ['2005',  1170,      460],
      ['2006',  660,       1120],
      ['2007',  1030,      540]
    ]);

    var options = {
      title: 'Company Performance',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>
{% endblock js %}
