.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align:right;
}

.padding-left-right{
	padding-right: 20px;
	padding-left: 20px;
}

.image-align-center-vertical{
	vertical-align: middle;
}
